/*#region Main class*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}
html::-webkit-scrollbar{
    display: none;
}
body{
    background-color: rgb(34,40,49);
    overflow-x: hidden;
}
.main{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: white;
}
/*#endregion*/

/*#region Header start*/
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 90vw;
}
.routes{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}
.redirect,
.order {
    display: flex;
    color: white;
    font-weight: 700;
    font-size: 28px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
}

.redirect::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background-color: aqua;
    transition: all 0.5s ease;
}

.redirect:hover::after {
    left: 0;
    right: 0;
}

.logo {
    display: flex;
    width: 30%;
    height: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
.logoImg{
    background: transparent;
    color: white;
}
/*#endregion*/

/*#region Content*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.adjust-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.order{
    background-color: rgb(41,161,156);
    color: white;
    width: 10vw;
    border-radius: 10px;
    font-weight: bolder;
    padding: 5px;
    font-size: 20px;
}
.coffeeTime{
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
}
.desc{
    word-break: normal;
    width: 33vw;
}
.coffeeTimeText{

}
/*#endregion*/

/*#region Adjustments*/
/* section adjustments */
.time{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* font adjustments */
.bold{
    font-weight: bold;
}
/* titles */
.title
{
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-size: 100px;
    letter-spacing: 2px;
    color: white;
    margin: 0;
    margin-left: 40px;
}
/*#endregion*/
